###########################################################
# Ignored files / extensions.
# Anything that's generated should never be commited
###########################################################

### - For development purposes
/Legacy